.App{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes animate{
    0%{
        color: green;
    }
    25%{
        color: greenyellow;
    }
    50%{
        color: blue;
    }
    100%{
        color: aqua;
    }
}